{% extends 'html_pages/content.html' %}
{% load static %}
  {% block title %}
<title>signin</title>
    {% endblock %}
{% block signincontent %}
<div class="signup-form">
    <form action="{% url 'signin' %}" method="post">
    {% csrf_token %}
        <h2>Sign in</h2>
		<p class="hint-text">Login your account. It's  takes a second.</p>
        <p class="hint-text">{{ msg }}</p>

         <div class="form-group">
        	<input type="text" class="form-control" name="username"  placeholder="UserName" required="required">
        </div>

		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>

        <div class="form-group">
			<label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Sign in </button>
        </div>
    </form>
	<div class="text-center">You have an account? <a href="#">Sign up</a></div>
</div>
{% endblock %}
